@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
      'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
    overflow-y: scroll;
    @apply text-primary-900 dark:bg-slate-800 dark:text-white;
  }

  a,
  button {
    cursor: default;
  }
}
